<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
              <span class="card-title black-text">Person detail</span>
              <div class="row">
                <div class="col s12 m6">
                  <label for="name">Name</label>
                  <input ng-model="user.Person.Name" id="name" type="text">
                </div>
                <div class="col s12 m6">
                  <label for="email">Email</label>
                  <input ng-model="user.Person.Email" id="email" type="text">
                </div>
              </div>
              <span class="card-title black-text">Credentials</span>
              <div class="row">
                <div class="col s12 m6">
                  <label for="username">Username</label>
                  <input ng-model="user.Username" id="username" type="text">
                </div>
                <div class="col s12 m6">
                  <label for="password">Password</label>
                  <input ng-model="user.Password" id="password" type="password">
                </div>
                <div class="col s12 m6">
                  <label for="password_check">Password check</label>
                  <input ng-model="passwordCheck" id="password_check" type="password">
                </div>
              </div>
            </div>
            <div class="card-action">
              <a class="btn" ng-click="Save()">Save changes</a>
            </div>
          </div>
        </div>
        <div class="col s12">
        <div class="card">
            <div class="card-content">
              <span class="card-title black-text">Settings</span>
              <span ng-repeat="settings_single in settings">
                <div class="divider"></div>
                <div class="section">
                  <h5>{{settings_single.Name}}</h5>
                  <div class="row">
                    <div class="col s12 m6" ng-repeat="setting in settings_single.Items">
                      <label for="notification">{{setting.Label}}</label>
                      <div class="switch">
                        <label ng-if="setting.Type == 5">
                          Off
                          <input type="checkbox" ng-model="setting.Value">
                          <span class="lever"></span>
                          On
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
            </div>
            <div class="card-action">
              <a class="btn" ng-click="SaveSettings()">Save settings</a>
            </div>
          </div>
        </div>
    </div>
</div>